<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197616234368-aq69dqcfs79lgtb5krguhu8mom5vgc5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197616234368-aq69dqcfs79lgtb5krguhu8mom5vgc5v</string>
	<key>API_KEY</key>
	<string>AIzaSyDNFowAa6sb-pb51UjsoTx7tH3rpFc9zJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>197616234368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.minheeshin93.MiniGame</string>
	<key>PROJECT_ID</key>
	<string>minigamehanpan</string>
	<key>STORAGE_BUCKET</key>
	<string>minigamehanpan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197616234368:ios:60b2a1f1dd4ec25eb39b65</string>
</dict>
</plist>